/bin
*~
\#*\#
.\#*
/.emacs.desktop
/.emacs.desktop.lock
*.elc
*.tar*
*.zip
*.log
*.gba
*.o
*.out
*.elf
*.bin
*.pyc
*.sgm
*.nlz
*.gba.*
*.gba.
*.psd
*.dib
*.bmp
*.ips
*.ipsx
*.ups
*.aps
*.patch
*.exe
/rom
/asmx
/frames
