/bin
*~
\#*\#
.\#*
/.emacs.desktop
/.emacs.desktop.lock
*.elc
*.tar*
*.zip
*.log
*.gba
*.o
*.out
*.elf
*.bin
*.pyc
*.sgm
*.sav
*.nlz
*.gba.spr
*.gba.pal
*.psd
*.ips
*.ipsx
*.ups
*.aps
*.patch
*.exe
/rom/*
