/bin
*~
\#*\#
.\#*
/.emacs.desktop
/.emacs.desktop.lock
*.elc
*.tar*
*.zip
*.log
*.gba
*.o
*.out
*.elf
*.bin
*.gba.*
*.pyc
*.nlz
*.psd
*.dib
*.bmp
*.ips
*.ipsx
*.ups
*.aps
*.patch
*.exe
/rom/ruby.*
/rom/ruby_.*
/rom/fire.*
/rom/fire_.*
/rom/emer.*
/rom/emer_.*
/asmx
/frames
